<html>
<head>
    <title>More Orcs</title>
    <script type="text/javascript" src="orcgen.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/html" id="page_tmpl">
        <% emails.map(function(email){ %>
          <tr>
            <td><%=email.orc%></td>
            <td><a href="mailto:<%=email.email%>">Email Address</a></td>
            <td class="text-right"><a href="<%=email.link%>" target="_blank">Read Email</a></td>
          </tr>
        <% }); %>
    </script>
    <script type="text/javascript">
        var tmpl = tmpl("page_tmpl");
        function refresh_emails() {
            $("#emails").html(tmpl({
                emails: generate_orc_emails(12)
            }));
        }
        $(document).ready(function(){
            refresh_emails();
            $("#refresh").on("click", refresh_emails);
        }) 
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="index.html">Emails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="domain.html">Domain names</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-sm-12">
    <h1>Orc-themed Emails for You!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>moreorcs.com offers free email addresses. You can have any email address you want: YOU@moreorcs.com. Email is receive-only, and will be deleted after a short period of time. Great for signing up for services you don't quite trust not to send you junk mail forever.</p>
      <ol>
        <li>find an orc-themed email you like below</li>
        <li>copy the email address using the link on the left</li>
        <li>sign up for the service you want to ue</li>
        <li>click the "read email" link on the right</li>
        <li>read your verification email</li>
        <li>forget new email address forever</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="padding-top:40px;">
        <table id="emails" class="table"></table>
        <button id="refresh" class="btn-lg btn-success center-block">More Orcs!</button>
    </div>
    <div class="col-sm-6" style="padding-top:40px;">
      <img class="img-rounded" src="orc.jpg" width="300px"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center"><h4>Powered by <a href="https://mailinator.com">Mailinator</a></h4></div>
  </div>
</div>
</body>
